@model IEnumerable<ECommerceMVC.Models.Product>
@{ 
    Layout = "_Layout";
}
<!DOCTYPE html>
<body>
    <main>
        <div class="row col-md-8 mx-auto my-auto" style="margin-top:30px">
            @foreach (var template in Model)
            {
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        @if (@template.Image != "")
                        {
                            <img class="card-img-top" src="@template.Image" alt="Wireframe" />
                        }
                        else
                        {
                            <img class="card-img-top" src="https://via.placeholder.com/150" alt="placeholder image" />

                        }
                        <div class="card-body">
                            <h3 class="card-title">@template.Name</h3>
                            <p>@template.Price</p>
                            <p class="card-text">@template.Description</p>
                            <button class="btn btn-primary">Purchase</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </main>
    </body>

