@page
@model ECommerceMVC.Pages.Account.ProfileModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/styles/Cart/theme.css" />
</head>
<body>

    <form method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group row mt-5">
            <div class="col-sm-4 mx-auto">
                <input asp-for="UserInfo.PreviousPassword" class="form-control" placeholder="Previous Password"/>
                <span asp-validation-for="UserInfo.PreviousPassword"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 mx-auto">
                <input asp-for="UserInfo.ChangePassword" class="form-control" placeholder="Change Password"/>
                <span asp-validation-for="UserInfo.ChangePassword"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 mx-auto">
                <input asp-for="UserInfo.ConfirmPassword" class="form-control" placeholder="Confirm Password"/>
                <span asp-validation-for="UserInfo.ConfirmPassword"></span>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto">
                <button type="submit" class="btn btn-primary my-5">Submit</button>
            </div>
        </div>
    </form>

    <div class="text-center">
        <h5>Favorite Theme: @Model.Claims.Theme</h5>
        <h5>Favorite Color: @Model.Claims.FavoriteColor</h5>
        <h5>Current Business: @Model.Claims.TypeOfBusiness</h5>
    </div>
    <div class="text-center">
        @foreach (var item in Model.UserOrderList)
        {
        <div class="my-5">
            <h5>Name: @item.FirstName @item.LastName</h5>
            <h5>Order Number: @item.OrderNumber</h5>
            <h5>Order Date: @item.OrderDate</h5>
            <h5>Total Price: @item.TotalPrice</h5>
        </div>
        }
    </div>
</body>